<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowCardNumber</key>
	<true/>
	<key>UndoLastCardRemove</key>
	<true/>
	<key>TapsToUndoCardRemoved</key>
	<integer>2</integer>
	<key>LetterCase</key>
	<integer>0</integer>
	<key>LetterCaseTypes</key>
	<array>
		<string>Lowercase</string>
		<string>Uppercase</string>
		<string>Capitalized</string>
		<string>Random</string>
	</array>
	<key>TimerSeconds</key>
	<integer>5</integer>
</dict>
</plist>
