<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a</string>
	<string>at</string>
	<string>no</string>
	<string>man</string>
	<string>go</string>
	<string>I</string>
	<string>my</string>
	<string>by</string>
	<string>to</string>
	<string>the</string>
	<string>see</string>
	<string>am</string>
	<string>is</string>
	<string>can</string>
	<string>you</string>
	<string>and</string>
	<string>an</string>
	<string>it</string>
	<string>has</string>
	<string>ran</string>
	<string>in</string>
	<string>did</string>
	<string>he</string>
	<string>she</string>
	<string>with</string>
	<string>sits</string>
	<string>me</string>
	<string>puts</string>
	<string>where</string>
	<string>have</string>
	<string>six</string>
	<string>we</string>
	<string>get</string>
	<string>some</string>
	<string>or</string>
	<string>hot</string>
	<string>want</string>
	<string>up</string>
	<string>but</string>
	<string>look</string>
	<string>had</string>
	<string>be</string>
	<string>ten</string>
	<string>do</string>
	<string>not</string>
	<string>are</string>
	<string>was</string>
	<string>lot</string>
	<string>on</string>
	<string>got</string>
	<string>of</string>
	<string>here</string>
	<string>good</string>
	<string>big</string>
	<string>his</string>
	<string>very</string>
	<string>for</string>
	<string>him</string>
	<string>her</string>
	<string>us</string>
	<string>they</string>
	<string>too</string>
	<string>yes</string>
	<string>stop</string>
	<string>from</string>
	<string>if</string>
	<string>come</string>
	<string>that</string>
	<string>our</string>
	<string>as</string>
	<string>red</string>
	<string>cut</string>
	<string>must</string>
	<string>said</string>
	<string>when</string>
	<string>down</string>
	<string>off</string>
	<string>so</string>
	<string>will</string>
	<string>let</string>
	<string>were</string>
	<string>back</string>
	<string>what</string>
</array>
</plist>
